:root {
    --bs-blue: #5F37EF;
    --bs-indigo: #727cf5;
    --bs-purple: #9C69E2;
    --bs-pink: #F063B8;
    --bs-red: #EF4358;
    --bs-orange: #F56538;
    --bs-yellow: #FFBA49;
    --bs-green: #68C9BA;
    --bs-teal: #299EF3;
    --bs-cyan: #38B0F5;
    --bs-white: #fff;
    --bs-gray: #94A2B3;
    --bs-gray-dark: #4B5D68;
    --bs-primary: #5F37EF;
    --bs-secondary: #299EF3;
    --bs-success: #68C9BA;
    --bs-info: #9C69E2;
    --bs-warning: #FFBA49;
    --bs-danger: #F063B8;
    --bs-light: #f9fafd;
    --bs-dark: #0b1727;
    --bs-font-sans-serif: "Lato", "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --bs-font-monospace: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  }
  
  *,
  *::before,
  *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
    html,
    body {
    font-family: 'Roboto', sans-serif!important;
    position: relative;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    }

    footer {
    position: relative;
    bottom: 0;
    width: 100%;
    }

    body {
      background: var(--bs-light);
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background:var(--bs-cyan);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    #mySwiper{
        background-image: url("https://drive.google.com/file/d/1Sv41kC3wvUnRe9NC-D93UeEcdR9p4ihB/view?usp=share_link");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: auto;
    }
    #swiper-color {
        opacity: .8;
        background-image: linear-gradient(to right top, #ffffff, #f4f3fa, #e7e8f6, #d9ddf1, #cad3ed, #bfd2f2, #b1d3f5, #a0d3f8, #8bdeff, #75e8ff, #63f2fd, #5ffbf1);    
    }
    
    /* footer section*/
.footer {
    background-color: #002c3e;
    color: var(--bs-cyan);
    padding-top: 70px;
    position: relative;
  }
  
  h4 {
    font-size: 28px;
  }
  
   h4,
   .footer-logo {
    font-weight: 600;
    margin-bottom: 20px;
  }

 .logo_footer {
    display: block;
    font-weight: bold;
    font-size: 32px;
    color: #ffffff;
  }
  
.footer_social {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: left;
      -ms-flex-pack: center;
      justify-content: left;
      margin-top: 25px;
      margin-bottom: 10px;
  }
  
.footer_social span a:hover {
    color: #AC7088;
  }
  
  
 .information_f {
    text-align: center;
    margin-top: 25px;
  }
 .information_f p {
      color: #ffffff;
      margin: 0;
      padding: 20px 0;
      border-top: 1px solid rgba(255,255,255,0.2);
  }
  
.information_f p a {
    color: inherit;
}
.widget_menu_link{
    color: var(--bs-light);
    font-size: 1rem;
}
.widget_menu_link :hover{
    color: var(--bs-info);
    font-size: 2rem;
}


.mainscreen
{
	min-height: 100vh;
	width: 100%;
	display: flex;
    flex-direction: column;
    background-color: #DFDBE5;
    color:#0d6efd;
}

.card {
	width: 60rem;
    margin: auto;
    background: white;
    position:relative;
    align-self: center;
    border-radius: 1.5rem;
    box-shadow: 4px 3px 20px #3535358c;
    display:flex;
    flex-direction: row;
    
}

.leftside {
	background: #030303;
	width: 25rem;
	display: inline-flex;
    align-items: center;
    justify-content: center;
	border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

.product {
    object-fit: cover;
	width: 20em;
    height: 20em;
    border-radius: 100%;
}

.rightside {
    background-color: #ffffff;
	width: 35rem;
	border-bottom-right-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    padding: 1rem 2rem 3rem 3rem;
}

p{
    display:block;
    font-size: 1.1rem;
    font-weight: 400;
    margin: .8rem 0;
}

.inputbox
{
    color:#030303;
	width: 100%;
    padding: 0.5rem;
    border: none;
    border-bottom: 1.5px solid #ccc;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
    font-family: 'Roboto', sans-serif;
    color: #615a5a;
    font-size: 1.1rem;
    font-weight: 500;
  outline:none;
}

.expcvv {
    display:flex;
    justify-content: space-between;
    padding-top: 0.6rem;
}

.expcvv_text{
    padding-right: 1rem;
}
.expcvv_text2{
    padding:0 1rem;
}

.button{
    background-color: #0d6efd;
    padding: 15px;
    border: none;
    border-radius: 50px;
    color: white;
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: 10px;
    width:100%;
    letter-spacing: .11rem;
    outline:none;
}

.button:hover
{
	transform: scale(1.05) translateY(-3px);
    box-shadow: 3px 3px 6px #38373785;
}

@media only screen and (max-width: 1000px) {
    .card{
        flex-direction: column;
        width: auto;
      
    }

    .leftside{
        width: 100%;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
      border-top-right-radius:0;
      border-radius:0;
    }

    .rightside{
        width:auto;
        border-bottom-left-radius: 1.5rem;
        padding:0.5rem 3rem 3rem 2rem;
      border-radius:0;
    }
}

