:root {
    --bs-blue: #5F37EF;
    --bs-indigo: #727cf5;
    --bs-purple: #9C69E2;
    --bs-pink: #F063B8;
    --bs-red: #EF4358;
    --bs-orange: #F56538;
    --bs-yellow: #FFBA49;
    --bs-green: #68C9BA;
    --bs-teal: #299EF3;
    --bs-cyan: #38B0F5;
    --bs-white: #fff;
    --bs-gray: #94A2B3;
    --bs-gray-dark: #4B5D68;
    --bs-primary: #5F37EF;
    --bs-secondary: #299EF3;
    --bs-success: #68C9BA;
    --bs-info: #9C69E2;
    --bs-warning: #FFBA49;
    --bs-danger: #F063B8;
    --bs-light: #f9fafd;
    --bs-dark: #0b1727;
    --bs-font-sans-serif: "Lato", "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --bs-font-monospace: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  }
  
  *,
  *::before,
  *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
    html,
    body {
    height: 100%;
    margin: 0;
    }

    .container {
    min-height: 100%;
    position: relative;
    }

    footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    }
