/* Main container */
body{
    overflow-x: hidden;
  }
  
  .main {
      margin-left: 20px;
    } 
    
    
    /* Navigation */
    
    ul.nav {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 100vw;
      overflow: hidden;
      background-color: rgb(77, 92, 227);
    }
  
  
    .nav li {
      float: left;
    }
    
    .nav li.username {
      float: right;
    }
    .nav{
      display: block;
    }
    .nav li a {
      display: block;
      color: white;
      text-align: center;
      padding: 16px 18px;
      text-decoration: none;
    }
    
    .nav li p {
      display: block;
      color: transparent;
      text-align: center;
      padding: 0px 30px;
    }
    
    .nav li a:hover:not(.active) {
      background-color: transparent;
      color: black;
    }
    
    .active {
      border-bottom:solid 5px #5f9fd3;
      border-radius: 4px;
    }
    
    
    /* Forms */
    
    label {
      font-size: 25px;
      padding: 12px 12px 12px 0;
      display: inline-block;
    }
    
    input[type=text],
    input[type=password] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      border-radius: 4px;
      border: 2px solid #ccc;
    }
    
    textarea {
      width: 100%;
      height: 150px;
      padding: 12px 20px;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
      resize: none;
    }
    
    button {
      background-color: #fa6908;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      margin: 18px 2px;
    }
    
    .delete {
      background-color: #fa0808;
    }
    
    
    /* Flash messages */
    
    .flash-success {
      padding: 20px;
      background-color: #33a43a;
      color: white;
      margin: 20px 0px;
      border-radius: 4px;
    }
    
    .flash-error {
      padding: 20px;
      background-color: rgb(235, 47, 47);
      color: white;
      margin: 20px 0px;
      border-radius: 4px;
    }
    
    
    /* Error messages */
    
    .error {
      color: red;
    }
    
    .error-border {
      border: 2px solid red !important;
    }
    
    
    /* Post card */
    
    .post-item {
      box-shadow: 5px 10px 8px 0 rgba(0, 0, 0, 0.3);
      width: 50%;
      margin: 30px auto;
    }
    
    .post-content {
      width: 100%;
      padding: 10px 20px;
    }
    .username{
      position: relative;
      right: 30px;
      top:15px;
      
    }